#AddDefaultCharset utf-8
#RewriteEngine on
#RewriteBase /BloghCMS/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php

<FilesMatch "\.(php)$">
deny from all
</FilesMatch>
<Files index.php>
allow from all
</Files>

Options -Indexes
ErrorDocument 403 /BloghCMS/index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [L]
RewriteRule ^.*$ index.php [L]
